---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="py-16 bg-white">
    <div class="max-w-4xl mx-auto px-4">
      <h1 class="text-3xl md:text-5xl text-blue-800 font-bold text-center mb-8">
        La Carta Natal: Tu Mapa Energético
      </h1>
      <!-- imagen removida de la página individual (se mantiene en el índice) -->
      <div class="text-lg text-gray-700">
        <p class="mb-4">
          La Carta Natal representa nuestro ADN energético. La información
          sintetiza el conjunto de características o patrones emocionales,
          ligados a las estructuras de personalidad. Es decir, ayuda a un rápido
          diagnóstico y visualización de situaciones, vínculos, y subconsciente
          desde un lugar de luz y sombra.
        </p>
        <p class="mb-4">
          Al nacer marcamos un mapa donde el horizonte, divide el cielo en
          opuestos, el camino se predispone, en un sentido, "determina nuestro
          destino". Que así no sea depende de nosotros, al trazar la ubicación
          celestial nos establece un grado de libertad, "conocemos nuestro mundo
          interior".
        </p>
        <p class="mb-4">En una sesión, podemos abordar temas como:</p>
        <ul class="list-disc list-inside mb-4 pl-4">
          <li>Vocación y profesión</li>
          <li>Relaciones y vínculos</li>
          <li>Propósito de vida</li>
          <li>Momentos de crisis y transformación</li>
        </ul>
        <p>
          Debemos preservar la dimensión espiritual como "Lenguaje Sagrado"
          permite comprender nuestras propias Energías Zodiacales y cómo estas
          influyen en nuestra conducta y vínculos desde una perspectiva
          diferente, donde Las relaciones son comprendidas y las situaciones
          muestran caminos alternativos o iguales pero con otra disposición de
          carácter.
        </p>
      </div>
    </div>
  </section>
</Layout>
