---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="bg-blue-800 text-white py-20">
    <div class="max-w-4xl mx-auto px-4">
      <h1 class="text-4xl font-bold mb-4 font-montserrat">Política de Privacidad</h1>
      <div class="prose prose-invert max-w-none text-white/80">
        <p>Última actualización: 27 de agosto de 2025</p>
        <p>En Nu-Spacio, respetamos su privacidad y nos comprometemos a proteger la información personal que pueda proporcionarnos a través de nuestro sitio web. Esta Política de Privacidad describe qué información podemos recopilar y cómo la usamos.</p>
        
        <h2 class="text-2xl font-bold mt-6 mb-2 font-montserrat">Recopilación de Información</h2>
        <p>No recopilamos información de identificación personal sobre usted a menos que usted nos la proporcione voluntariamente. La información que usted nos proporcione voluntariamente, como su nombre y dirección de correo electrónico al contactarnos, se utilizará únicamente para responder a su consulta.</p>
        
        <h2 class="text-2xl font-bold mt-6 mb-2 font-montserrat">Uso de la Información</h2>
        <p>La información personal que nos envíe solo se utilizará para los fines especificados en esta política de privacidad o en las partes relevantes del sitio web. No venderemos, distribuiremos ni alquilaremos su información personal a terceros a menos que tengamos su permiso o la ley así lo exija.</p>
        
        <h2 class="text-2xl font-bold mt-6 mb-2 font-montserrat">Seguridad</h2>
        <p>Nos comprometemos a garantizar que su información esté segura. Para evitar el acceso o la divulgación no autorizados, hemos implementado procedimientos físicos, electrónicos y administrativos adecuados para salvaguardar y proteger la información que recopilamos en línea.</p>

        <h2 class="text-2xl font-bold mt-6 mb-2 font-montserrat">Cambios a esta Política</h2>
        <p>Podemos actualizar nuestra Política de Privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de Privacidad en esta página. Se le aconseja que revise esta Política de Privacidad periódicamente para detectar cualquier cambio.</p>
      </div>
    </div>
  </div>
</Layout>
