---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="py-16 bg-white">
        <div class="max-w-4xl mx-auto px-4">
            <h1
                class="text-3xl md:text-5xl text-blue-800 font-bold text-center mb-8"
            >
                Yoga Integral
            </h1>
            <!-- imagen removida de la página individual (se mantiene en el índice) -->
            <div class="text-lg text-gray-700 mb-6">
                <p class="mb-4">
                    Encuentra tu camino auténtico en el yoga. Este espacio es una invitación a un viaje de autoconocimiento profundo, donde la práctica de yoga se convierte en una poderosa herramienta para la integración del ser.
                </p>
                <p class="mb-4">
                    La profesora Virginia ofrece un acompañamiento sensible y profundamente humano, enraizado en el conocimiento de las tradiciones y técnicas yóguicas, pero fundamentalmente guiado por la intuición y la atención plena a tus necesidades únicas.
                </p>
                <p>
                    Vive la experiencia de ser escuchado/a sin juicio, y utiliza
                    este espacio para que tu verdad personal se manifieste con
                    libertad y conciencia.
                </p>
            </div>

            <div class="text-lg text-gray-700">
                <h2 class="text-2xl md:text-3xl text-blue-800 font-bold mb-4">
                    Filosofía y Enfoque de la Práctica
                </h2>
                <p class="mb-4">
                    Nuestra metodología se centra en la práctica consciente del cuerpo y la respiración (Pranayama), pilares esenciales para calmar el sistema nervioso y acceder a estados de mayor claridad mental. Integraremos activamente las técnicas de mindfulness (atención plena), no solo en la esterilla, sino como una habilidad fundamental para llevar a tu vida diaria. Este enfoque holístico te permite:
                </p>
                <ul class="list-disc list-inside mb-4">
                    <li>
                        <strong>Integrar Cuerpo, Mente y Espíritu:</strong> Pasar de una existencia fragmentada a una experiencia de vida plena y coherente.
                    </li>
                    <li>
                        <strong>Desarrollar la Conciencia Corporal:</strong> Aprender a escuchar las señales sutiles de tu cuerpo, reconociendo patrones de tensión y liberándolos de forma segura y respetuosa.
                    </li>
                </ul>
            </div>
        </div>
    </section>
</Layout>
