---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="py-16 bg-white">
        <div class="max-w-4xl mx-auto px-4">
            <h1
                class="text-3xl md:text-5xl text-blue-800 font-bold text-center mb-8"
            >
                Yoga Integral
            </h1>
            <!-- imagen removida de la página individual (se mantiene en el índice) -->
            <div class="text-lg text-gray-700">
                <p class="mb-4">
                    Encuentra tu camino en el yoga. La profe Virginia un
                    acompañamiento sensible, enraizado en el conocimiento, pero
                    guiado por la intuición.
                </p>
                <p class="mb-4">
                    Usa la práctica consciente del cuerpo y la respiración, y
                    las técnicas de mindfulness, para integrar tu ser.
                </p>
                <p>
                    Vive la experiencia de ser escuchado/a sin juicio, y utiliza
                    este espacio para que tu verdad personal se manifieste con
                    libertad y conciencia.
                </p>
            </div>
        </div>
    </section>
</Layout>
