---

---

<footer id="contacto" class="bg-blue-800 text-blue-100 py-10 mt-20">
    <div
        class="max-w-6xl mx-auto px-4 flex flex-col md:flex-row md:justify-between gap-8"
    >
        <div>
            <div class="flex items-center gap-2 mb-2">
                <img src="/logo1.jpeg" alt="Logo Nu-Spacio" class="h-8 w-8 object-cover rounded-full bg-white border border-violet-200" />
                <span class="text-xl font-bold font-montserrat text-yellow-400">Nu-Spacio</span>
            </div>
            <p class="text-white-800/80 max-w-xs text-sm mb-2">
                Centro Holístico Nu-Spacio – Capacitación en Terapias
                Alternativas para la evolución de la conciencia. Bienvenidos a
                este maravilloso viaje del despertar de consciencia.
            </p>
            <p class="text-xs text-white-800/60">
                COPYRIGHT 2025 - CENTRO HOLÍSTICO NU-SPACIO ® | TODOS LOS
                DERECHOS RESERVADOS
            </p>
        </div>
        <div>
            <h3 class="font-semibold mb-2 text-yellow-400">Contacto</h3>
            <ul class="text-sm text-white-800/80">
                <li>
                    <span class="font-bold">Dirección:</span> Av. Riccheri 929 3º Piso.
                    Bella Vista, Buenos Aires.
                </li>
                <li>
                    <span class="font-bold">Horarios:</span> Lunes a viernes de 9
                    a 20 hs. | Sábados de 10 a 18 hs.
                </li>
                <li>
                    <span class="font-bold">Email:</span> nuspacioholistico@gmail.com
                </li>
            </ul>
            <div class="mt-4">
                <a href="/politica-de-privacidad" class="text-sm text-white-800/80 underline hover:text-violet-300 visited:text-violet-400">Política de Privacidad</a>
            </div>
            <div class="mt-2">
                <a href="/politica-de-cookies" class="text-sm text-white-800/80 underline hover:text-violet-300 visited:text-violet-400">Política de Cookies</a>
            </div>
        </div>
    </div>
</footer>
