---
// Servicios destacados
const servicios = [
    {
        nombre: "Consulta Astrológica",
        url: "/consulta-astrologica",
    },
    {
        nombre: "Programación Neurolingüística (PNL)",
        url: "/programacion-neurolinguistica",
    },
    {
        nombre: "Consulta Tarot Transpersonal",
        url: "/#",
    },
    {
        nombre: "Consulta en Terapia Floral",
        url: "/#",
    },
];
---

<section id="servicios" class="py-16 bg-white">
    <h2
    class="text-2xl md:text-4xl text-blue-800 font-bold text-center mb-10" data-aos="fade-up" data-aos-duration="1000"
    >
        Algunos de nuestros Servicios Destacados
    </h2>
    <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-5xl mx-auto"
    >
        {
            servicios.map((servicio, index) => {
                const isLocal = servicio.url.startsWith('/');
                return (
                    <a
                        href={servicio.url}
                        target={isLocal ? '_self' : '_blank'}
                        rel={isLocal ? '' : 'noopener'}
                        class="bg-violet-50 hover:bg-violet-100 transition rounded-xl shadow p-6 text-center border border-violet-100 h-full flex flex-col"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay={index * 200}
                    >
                        <div class="flex-grow">
                            <h3 class="text-xl font-semibold text-blue-800 mb-2 flex items-center justify-center h-24" data-aos="fade-up">
                                {servicio.nombre}
                            </h3>
                            {servicio.nombre === "Consulta Astrológica" && (
                                <img src="/consulta-astrologica.jpg" alt="Consulta Astrológica" class="w-full h-auto rounded-lg my-4" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500" />
                            )}
                            {servicio.nombre === "Programación Neurolingüística (PNL)" && (
                                <img src="/pnl2.png" alt="Programación Neurolingüística (PNL)" class="w-full h-auto rounded-lg my-4" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500" />
                            )}
                        </div>
                        <span class="text-yellow-400 font-bold mt-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700">Ver más</span>
                    </a>
                )
            })
        }
    </div>
</section>
